[Unit]
Description=__PACKAGE_DESC__
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=__PACKAGE_DIR__
ExecStart=collector.py

[Install]
WantedBy=multi-user.target

