[Unit]
Description=__PACKAGE_DESC__

[Service]
User=www-data
Group=www-data
WorkingDirectory=__PACKAGE_DIR__
ExecStart=monitor-collectord.py start
ExecStop=monitor-collectord.py stop

[Install]
WantedBy=multi-user.target

