[Unit]
Description=__PACKAGE_DESC__
After=network.target
Requires=server-monitor-collectord

[Service]
User=www-data
Group=www-data
WorkingDirectory=__PACKAGE_DIR__
ExecStart=/usr/bin/gunicorn --workers 3 --bind 0.0.0.0:8003 --keep-alive 75 -m 007 application:app

[Install]
WantedBy=multi-user.target

